* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #fff;
    width: 100%;
    height: 70px;
}

.header__inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
}

.header__ttl {
    color: #243a94;
    font-size: 40px;
    font-weight: bold;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item:not(:first-child) {
    margin-left: 30px;
}

.header__nav-item {
    color: #243a94;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
}

.main {
    width: 100%;
}

.firstview {
    position: relative;
    width: 100%;
    display: flex;
}

img {
    width: 700px;
}
.firstview__img {
    position: absolute;
    top: 70px;
    right: 0;
    width: 70%;
    height: 70%;
    display: block;
    text-align: right;
    z-index: 30;
}

.firstview__content {
    position: absolute;
    top: 420px;
    font-size: 45px;
}

.firstview__box {
    position: absolute;
    top: 490px;
    left: 0;
    width: 750px;
    height: 160px;
    background-color: #191d5a;
    z-index: 10;
}